html,
body {
	height: 100%;
	overflow: hidden;
	background-color: #efeff5;
}

.mui-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.mui-media-body{
	line-height: 2.5;
}

.mui-indexed-list-bar,.mui-indexed-list-bar.active{
	background-color: transparent;
}
