body{
	background-color: #FFFFFF;
}

.mui-content-padded{
	margin-top: 25px;
	margin-bottom: 25px;
}


.mui-btn{
	padding: 10px;
}

.question{
	color: #3058bf;
}


.mui-input-group:before,.mui-input-group:after{
	height: 0;
}


.mui-input-row label{
	font-weight: 600;
}
